
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <div class="container">
        <div class="group">
            <div class="half">
                <article class="p-l-0">
                    <h1>About</h1>
                    <p>Add content about AEIS blah blah blah....</p>

                </article>
            </div>
            <div class="half">
                <article class="p-t-md">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><span class="ca-gov-icon-download"></span> Available Downloads</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-standout">
                               <li>
                                   list format AEIS maybe...? blah blah...
                               </li>
                            </ul>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>
</div>

