@{
    ViewBag.Title = "Home Page";
}


<main class="main-primary">
    <div class="mainIntroPage">
        ADD CONTENT HERE
    </div>


    <div class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">AEIS</h2>
                    <p class="text-center"> Explain what AEIS IS HERE</p>
                    <div class="text-center">
                </div>
            </div>
        </div>
    </div>
    </div>
</main>